main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}
main .box {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.button {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: darkgrey;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  cursor: help;
  transform: scale(1.05);
}

.success {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgb(221, 160, 221);
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.success:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  cursor: help;
  transform: scale(1.05);
}

.warning {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: darkgoldenrod;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.warning:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  cursor: help;
  transform: scale(1.05);
}

.error {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: darkred;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  padding: 12px 24px;
  transition: all 0.3s ease-in-out;
}
.error:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  cursor: help;
  transform: scale(1.05);
}